.etablissement{

    background-color: blue;
    .etablissementContent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-items: center;
        padding: 2rem;
        background-color: #333;
        color: #fff;
        margin-bottom: 1rem;


.etablissementTop{
    margin: 1rem;
    display: flex;
    justify-content: space-between;
}


    }

    .lienEtablissement{
      margin: 2rem;
      text-align: center;
      font-size: 1.2rem;
    }


}