.etablissement{

    background-color: blue;
    .etablissementContent{
        padding: 2rem;
        background-color: red;
        margin-bottom: 1rem;


.etablissementTop{
    margin: 1rem;
    display: flex;
    justify-content: space-between;
}


    }




}